*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
html{scroll-behavior: smooth;}
body{
   
    /* height: 100vh; */
    background-color: black;
    font-family: 'Raleway', sans-serif;
   
   z-index: 1;
    
}
.noScroll{ overflow: hidden;}


.theMain {
    background-image: url(img/homePage.jpg);
    background-position: center;
    background-size:cover;
    height: 100vh;
   
}
.menubody{
    /* position: relative; */
    color: black;
    background-image: url(img/1.png);
    /* background-color: white; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    /* background-size:cover; */
  
}
.branchMain{
    background-image: url(img/branch.jpg);
    height: 220vh;}
.containers{
    max-width: 100%;
    padding: 2% 5%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.menuContainer{
    padding-top: 10%;
    color: white;

    display: flex;
    align-self: center;
    justify-content:flex-start ;

}
.sideBar{
    width: 25%;
    /* border-right: 1px solid rgba(255, 254, 254, 0.2) ; */
    margin-right: 5%;
  

}
.sideBar a{
    text-decoration: none;
    color: white;
    display: flex;
    padding: 0% 10% 10% 10% ;
    font-size: 25px;
    font-weight: 600;
}
.fixe{
    position:fixed;
    width: 50px;
    height: 50px;
    right: 0;
    bottom:0;
}

/* .{width: 50%;} */
.menu {
   width: 56%;
  
}

.menu table{
    /* margin-bottom: 150px; */
    width: 100%;
   
        padding: 61px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        margin-bottom: 60px;
}
/* hr{
    margin: 50px 0;
    border-top: 1px solid rgb(255, 255, 255,0.2) ;
    border-bottom:0 ;
    width: 93%;
} */
.menu th,td{
    font-size: 20px;
    text-align: center;
    width: 2%;
    padding: 20px 0px ;
   
}
.menu th:first-child{
    /* padding-right: 15%; */
    text-align: left;
}
.menu caption{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 20px;
}
















.logo{
    font-size: 2em;
    color: white;
}

.navbar_menu a{
    color: white;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 15px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.4s;
    text-decoration: none;
    
}

.navbar_menu a:hover{
    font-weight: 500;
    background-color: white;
    color: black;
    
}
header,.branch{
    position:absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    padding:0 70px ;
    width: 80%;
    text-align: center;
}
.branch{
    top: 35%;
}
.branch h2{font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 30px 0;
}
.branch i{padding: 0 20px;}
.branch p{
    font-size: 15px;
    font-weight: 300;
    color: white;
    letter-spacing: 3px;
    line-height: 25px;
    
    margin-bottom: 20px;
}
.branchp{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 25px;
}
.branchartc{
    top: 130%;
   
}
.branchartc article{
    padding: 50px 20px;
    font-size: 20px;
    font-weight: 700;
}
.branchartc a{
    text-decoration: none;
    color: white;
}
.branch img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px
    
}
.navAfter{
    display: none;
    position:absolute;
    top:17%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    padding:0 40px ;
    width: 80%;
    text-align: center;
    line-height: 10px;
}


header h2{
    font-family: 'Meow Script', cursive, 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    line-height: 50px;
}
header span{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
    letter-spacing: 5px;
    line-height: 70px;
    text-transform: uppercase;
    display: block;
}
header p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

header button{
    font-size: 20px ;
    font-weight: 700;
    color: white;
    background: none;
    letter-spacing: 2px;
    padding: 12px;
    border:  1px solid #fff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    text-transform: uppercase;
    
}
header button:hover{
    background: #fff;
    color: #000;
    
}

.btnLog{
    margin-left: 5px;
    display: inline;
    text-transform: lowercase;
}
.btnLog a:first-child{
    border: 1px solid white;
    color: white;
    padding:  12px 14px;
}
.btnLog a:last-child{
    background-color: black;
    padding:  12px 14px;
}
.btnLog a:first-child:hover{
    background-color: white;
    color: black;
    /* padding:  12px 18px; */
}
.btnLog a:last-child:hover{
    background-color: white;
    /* padding:  12px 18px; */
}

.footer{
    position:absolute;
    margin:  0 50%;
    bottom :0;
    /* left:50%; */
    transform: translate(-50%,-50%);
    color: white;
    /* padding:0 70px ; */
    width: 80%;
    text-align: center;
    font-size: 4px;
}
.copyRight{font-size: 15px;}
.branchfooter{bottom: -120%;}
.norel{position: relative;}
.footer-icon span a{
    color: #6a6e71;
    padding: 0 5px;
    font-size:25px;
    cursor: default;
}
.footer-icon span a:nth-of-type(1):hover{color: #69e516;}
.footer-icon span a:nth-of-type(3):hover{color: #166fe5;}
.footer-icon span a:nth-of-type(4):hover{color: #166fe5;}
.footer-icon span a:nth-of-type(5):hover{color: #166fe5;}
.footer-icon span a:nth-of-type(2):hover{color: #c13584;}
.nav{
    display: inline-block;
}

.menufooter{bottom: -517%;}










/* about  ************************************************************** */

/* @import url("https://fonts.googleapis.com/css?fmily=Muli&display=swap");
* {
  box-sizing: border-box;
} */

.bodyPic {
  font-family: "Muli", sans-serif;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
  padding-top: 0px;
}
.aboutpage{
    background-image: url(img/b1.jpg);
    background-position: center;
    background-size: cover;
    
}
.containerAbout {
  display: flex;
  width: 90vw;
}
.panel {
    /* background-size: auto 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  height: 70vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}
.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
    opacity: 1;
  transition: opacity 0.4s ease-in 0.5s;
}
@media (max-width: 500px) {
    .container {
    width: 100vw;
}
  .panel:nth-last-of-type(1),
  .panel:nth-last-of-type(2),
  .panel:nth-last-of-type(3) {
      display: none;
  }
}







/* log in windows */

.hidden {
  display: none;
}

.close-modal {
    position: absolute;
    top: -23px;
    right: -176px;
    font-size: 5rem;
    color: white;
    cursor: pointer;
    border: none;
    background: none;
    width: auto;
}
.modal {
    background-image: url(img/photo-1620360289100-030b032e5a27.jfif);
    background-position: center;
    background-size:cover;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 398px;
    height: 70%;
    /* background-color: black; */
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.modal input,.modal button{
    min-width: 100%;
    /* margin-top: 10px; */
    height: 3rem;
}
.modal input{
    padding:0 20px;
    
}
.modal input,.logInBtn{
    background-color: rgb(71, 71, 71 ,0.5);
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    
}.logInBtn{
    margin-top: 10px;
    background-color: rgb(136, 7, 7,0.5);
    transition: 0.4s;
  
}
.logInBtn:hover{ background-color: rgb(136, 7, 7);}
.content a{width: 100%;}

.content{
   /* position:absolute; */
   display: flex;
   flex-direction:column;
   align-items: center;
   /* bottom: 0; */
   
   
} 
.newAccount{
    text-decoration: none;
    color: rgb(255, 255, 255,.5);
    margin: 15px;
}
.newAccount:hover{
    /* text-decoration: underline; */
    color: white;
}

@media(max-width:501px){
    .modal{
        min-width: 277px;
        height: 400px;
        padding: 3rem 2rem;}
        
/* .modal input,.modal button{
    min-width: 78%;} */
    .close-modal {
        top: -9px;
        right: -117px;
        font-size: 3rem;
    }
    
}






/* sign up form */

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");
::placeholder {
  color: #ddd;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ddd;
  font-family: "Montserrat", sans-serif;
} */



.signbody{
    background: url("img/coffee-wallpaper-160.jpg"),#000; 
    
    
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-size: 91%;
    background-position: -160% 41%;
}

.tlog input, .tlog
button {
    display: inline-block;
    width: 100%;
    height: 3.23rem;
    border: none;
    outline: none;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.15);
}

.tlog{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    text-align: center;
    padding:30px;
}
.lefttlog{width: 100%;}
.tlogdiv{
    width: 100%;
}
    
    /* .tlogdiv{width: 70%;} */
    
    .login {
        margin-top: -75px;
   
    min-height: 100vh;
  width: 100%;
  background-size: cover;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.login .containerlogin {
  position: relative;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .title {
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: white;
}
.login .social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .social-login button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 10rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  cursor: pointer;
  transition: background 0.3s ease-in;
  color: white;
}
.login .social-login button:hover {
  background: rgba(255, 255, 255, 0.3);
}
.login .social-login button i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #fff;
  border-radius: 50%;
  font-size: 1.4rem;
  padding-left: 2px;
  text-align: center;
  margin-right: 0.25rem;
}
.login .social-login button i.fa-facebook-f {
  color: #000000;
}
.login .social-login button i.fa-google {
    color: #000000;
}
.login .separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .separator span {
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 1.5rem;
}
.separator{color: white;}
form {
    width: 100%;
}
form .form-group {
    margin-bottom: 1.2rem;
}
form .form-group label {
  display: block;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  color: dark-blue;
}
form .form-group input {
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  padding: 0 1.5rem;
}

button[type=submit] {
  background: #9e290c;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 1rem 0;
  transition: all 0.3s linear;
}
button[type=submit]:hover {
  background: #ff1e00;
  
}

.additional-act {
    width: 100%;
    text-align: center;
    letter-spacing: 0.7px;
    margin: 0.5rem 0;
    color:white;
}
.additional-act span {
  color:white;
  cursor: pointer;
}






/* grgdeg */
.aboutpage{
   

}
.contact{
    /* background-image: url(img/thumb2-coffee-beans-background-with-coffee-falling-coffee-grains-coffee-concepts-coffee-background.jpg);
    background-position: center;
    background-size: cover; */
    /* background-color: #252f31; */
    color: #fff;
    overflow: hidden;
    padding:50px 40px 80px 40px;
}
.contact h2{color: #fff;}
.contact p{
    color: white;
    /* background-color: #252f31; */
    font-size: small;
    line-height: 20px;
    margin: 10px 0;
    width: 70%;
}
.contact .info{
    float: left;
    width: 50%;
}
.form{
    float: left;
    width: 50%;
    padding: 0 0 0 50px ;
}
.info strong{color: rgb(255, 255, 255);}
.contact .info p:last-of-type{width: 70%;}
.contact .form label{
    display: block;
    color: white;
    margin: 0px 0 10px;
    font-size: small;
}
.form input,textarea {
    background-color: rgba(163, 159, 159, 0.3);
    border-radius: 10px;
    color: #fff;
    padding:10px;
    border: 0;
    width: 100%;
    margin-bottom: 40px;
}
.form textarea{margin-bottom:0px;}
.form [type="submit"]{
    background-color: rgb(255, 0, 0,.5);
    color: #d1d6da;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    margin-top: 25px;
    font-weight: bolder;
    width: auto;
}
.form [type="submit"]:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.3s;
}
/* .fl-left{float: left;} */




























@media(max-width:1100px){
    .menuContainer{padding-top: 20%;}
    .nav a{display: none;}
    .navAfter{
        display: inline;
    }
    .lefttlog{display: none;}
    .signbody{
        background-size: cover;
        background-position: center;
    }
    .bodyPic{ margin-top: 15px;}

}
@media(max-width:700px){
    .login {margin-top: 35px;}
    .menuContainer{padding-top: 30%;}
    .menu caption,.sideBar a{font-size: 20px;}
    .tlog {justify-content: center;}
    .login {padding-right: 0;}
    


    header p{display: none;}
    .containers{
        padding: 20px 20px ;
    }
    .btnLog a{
        width: 100x;
        display:block;
        margin-bottom: 10px;
    }
    .navAfter{
        top: 24%;
    }
    header{top: 51%;}
    .branch{
        top: 50%;
    }
    .branchartc{
        top: 143%;
    }
    .branchMain{
        height: 260vh;
    }
    .branchfooter{bottom: -160%;}


}

@media(max-width:645px){
    .branchartc{
        top: 150%;
    }
    .branch{
        width: 100%;
    }

}


@media(max-width:501px){
    .sideBar{display: none;}
    .menuContainer{padding-top: 50%;}
    .menu th,td{font-size: 15px;}
    .menu{margin: auto;
    width: 100%;}
    .menu th, td {padding: 11px 0px;}
    hr {margin: 32px 0;}
    .menu table {
        /* margin-bottom: 150px; */
        width: 86%;
        margin: auto;
        padding: 23px;
        border-radius: 30px;
        margin-bottom: 60px;

    }

    .navAfter{padding: 0;width:100%;top:29% }
    header{padding: 0;width: 100%;top:55%}
    header span ,header h2{
        font-size: 28px;
        line-height: 50px
    }
    .footer{bottom: -4%;padding: 0;}
    .branchfooter{bottom: -194%;padding: 0;}
    .btnLog a{font-size: 10px}
    .logo{width: 50%}
    .branch img{ width: 100px;}
    .branch{top: 67% ; padding: 0  30px;}
    .branchartc{top: 183%}
    .branchMain{height: 290vh}
    .branchp{padding: 10px;}
    .branch p{
        font-size: 15px;
       line-height: 19px;
    }
    .branch h2{
        font-size: 18px;
        letter-spacing: 1px;

    }
    .modal{
        min-width: 277px;
        height: 400px;
        padding: 2rem;
    }


.contact{
    margin: auto;
}
   
.form {
       
        float: none;
        width: 100%;
        margin: auto;
        padding: 0;
        
}
.contact .info{
       
        float: none;
        width: 100%;
        margin: auto;
        margin-bottom: 40px;
}
.contact p{
    width: 100%;
}
.bodyPic {
    height: 96vh;
    margin-top: 0px;
    padding-top: 160px;
}
    }













